{% extends '_base.html' %} {% block content %}

<div class="beers">
	<h2>Beers:</h2>
    {% if beer_data %}
        <table>
            <thead>
                <th>Name</th>
                <th>Style</th>
                <th>ABV</th>
                <th>IBU</th>
                <th>Stock</th>
                <th>Price</th>
            </thead>
            <tbody>
                {% for beer in beer_data %}
                <form method="POST" action="/like">
                    <tr>
                        <td>{{ beer['beer_name'] }}</td>
                        <td>{{ beer['style'] }}</td>
                        <td>{{ beer['abv'] }}%</td>
                        <td>{{ beer['ibu'] }}</td>
                        <td>{{ beer['stock'] }}</td>
                        <td>${{ beer['price'] }}</td>
                        <td>
                            <button type="submit" formaction="/like">Like</button>
                            <button type="submit" formaction="/add_to_cart">Add to Cart</button>
                        </td>
                        <input type='hidden' name='beer_upc' value="{{ beer['upc'] }}">
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    {% else %}		
        <p>No beers to list.</p>
    {% endif %}
</div>

{% endblock %}