{% extends '_base.html' %} {% block content %}

<h2>Cart:</h2>
{% if cart_items %}
    <table>
        <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>{{ item['item_total'] }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>TOTAL</td>
                    <td> {{ size }}</td>
                    <td>{{ total }}</td>
                </tr>
        </tbody>
    </table>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}

{% endblock %}